@font-face {
  font-family: "POPPINS REGULAR";
  src: url(../font/Poppins-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "POPPINS BOLD";
  src: url(../font/Poppins-Bold.ttf) format(truetype);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.container {
	max-width: 1640px;
	width: 90%;
	margin: 0 auto;
}

#logo{
	max-width: 48px;
}
.flex-display{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
}
header ul, header nav{
	display: flex;
	align-items: center;
}

header ul{
	color: #000000E5;
	font-size: 14px;
}
header li{
	margin-left: 48px;
	font-family: "POPPINS REGULAR";
}
header{
	margin-top: 42px;
}

.nav-button{
	background-color: #29B24E;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "POPPINS REGULAR";
	border: none;
	border-radius: 12px;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 13px;
	padding-right: 13px;
	max-width: 156px;
	height: 47px;
	text-align: center;
}

.form-div{
	background-color: #C2C2C24F;
	max-width: 395px;
	height: 751px;
	border-radius: 24px;
	margin-top: 41px;
}

.form-div h3{
	color: #000000;
	font-size: 16px;
	font-family: "POPPINS BOLD";
}
.location-h3{
	padding-top: 32px;
	margin-left: 32px;
	margin-bottom: 16px;
}

#country{
	width: 331px;
	height: 48px;
	background-color: #F8F8F8;
	border: 1px solid #0D9CA436;
	border-radius: 10px;
	outline: none;
	margin-left: 32px;
	margin-bottom: 32px;
	font-size: 14px;
	color: #000000;
	font-family: "POPPINS REGULAR";
}
.property-h3{
	margin-left: 32px;
	margin-bottom: 13px;
}

.price-h3{
	margin-left: 32px;
	margin-top: 39px;
	margin-bottom: 13px;
}

input{
	margin-left: 32px;
	margin-bottom: 10px;
}

label{
	font-size: 14px;
	color: #000000;
	font-family: "POPPINS REGULAR";
}