@font-face {
  font-family: "POPPINS REGULAR";
  src: url(../font/Poppins-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "POPPINS BOLD";
  src: url(../font/Poppins-Bold.ttf) format(truetype);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.container {
	max-width: 1640px;
	width: 90%;
	margin: 0 auto;
}

#logo{
	max-width: 48px;
}
body{
	background-color: #F2F2F2;
}
.flex-display, .nav-ul{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
	color: #000000E5;
	font-size: 14px;
}
header li{
	margin-left: 48px;
	font-family: "POPPINS REGULAR";
}
header ul a{
	color: inherit;
	text-decoration: none;
}
header{
	margin-top: 42px;
}

.nav-button{
	background-color: #29B24E;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "POPPINS REGULAR";
	border: none;
	border-radius: 12px;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 13px;
	padding-right: 13px;
	width: 156px;
}

.form-div{
	background-color: #F8F8F8;
	max-width: 395px;
	height: 751px;
	border-radius: 24px;
	margin-top: 41px;
}

.form-div h3{
	color: #000000;
	font-size: 16px;
	font-family: "POPPINS BOLD";
}
.location-h3{
	padding-top: 32px;
	margin-left: 32px;
	margin-bottom: 16px;
}

#country{
	width: 331px;
	height: 48px;
	background-color: #F8F8F8;
	border: 1px solid #0D9CA436;
	border-radius: 10px;
	outline: none;
	margin-left: 32px;
	margin-bottom: 32px;
	margin-right: 32px;
	font-size: 14px;
	color: #000000;
	font-family: "POPPINS REGULAR";
}
.property-h3{
	margin-left: 32px;
	margin-bottom: 13px;
}

.price-h3{
	margin-left: 32px;
	margin-top: 39px;
	margin-bottom: 13px;
}
.section1-span{
	color: gray;
}

input{
	margin-left: 32px;
	margin-bottom: 10px;
	accent-color: #29B24E;
}

label{
	font-size: 14px;
	color: #000000;
	font-family: "POPPINS REGULAR";
}
.section-1{
	display: flex;
	flex-wrap: wrap;
}
.picture-div{
	max-width: 1225px;
	width: 100%;
	margin-left: 20px;
	position: relative;
	margin-top: 42px;
}
.div-absolute{
	position: absolute;
	display: flex;
	flex-direction: column;
    align-items: center;
    margin-left: 238px;
}
.picture-div img{
	border-radius: 24px;
	max-width: 1225;
	height: 751px;
}
.div-absolute h1{
	margin-top: 60px;
	font-size: 48px;
	color: #000000CC;
	font-family: "POPPINS REGULAR";
}
.div-absolute p{
	font-size: 16px;
	color: #000000CC;
	font-family: "POPPINS REGULAR";
	margin-top: 10px;

}
.div-absolute input{
	border-radius: 10px;
	background-color: #F8F8F8CC;
	color: #000000;
	font-family: "POPPINS REGULAR";
	font-size: 14px;
	width: 324px;
	height: 48px;
	outline: none;
	border: none;
	margin-top: 40px;
	text-align: center;
}
.section-2 h3{
	font-size: 18px;
	color: #000000;
	font-family: "POPPINS REGULAR";
	margin-top: 32px;
	margin-bottom: 20px;
}
article{
	max-width: 395px;
	background-color: #F8F8F8;
	border-radius: 24px;
	display: inline-block;
	margin-bottom: 20px;
}
article img{
	width: 363px;
	max-width: 100%;
	border-radius: 20px;
	margin-left: 16px;
	margin-top: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
}
article h4{
	font-size: 16px;
	color: #000000;
	margin-left: 20px;
	margin-bottom: 8px;
}
article p{
	margin-left: 20px;
	color: #000000;
	font-size: 14px;
	font-family: "POPPINS REGULAR";
}
.article-p2{
	display: inline-block;
	font-size: 12px;
	color: #000000;
	font-family: "POPPINS BOLD";
}
.article-p1{
	display: inline-block;
	font-size: 24px;
	color: #29B24E;
	font-family: "POPPINS REGULAR";
}
.paragraph-div{
	display: flex;
	justify-content: flex-end;
    align-items: center;
}

.div2{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #CFEAD6;
	margin-top: 16px;
}
.div2 h4{
	font-size: 14px;
	color: #000000;
	font-family: "POPPINS REGULAR";
	margin-top: 24px;
	margin-bottom: 24px;
}

.img-relative, article{
	position: relative;
}

.vip{
	position: absolute;
	background-color: #29B24E;
	border-radius: 15px;
	left: 20px;
	top: 20px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: "POPPINS REGULAR";
	padding: 5px;
}




/*about.html ----->*/
.about-div1{
	max-width: 810px;
	width: 100%;
	margin-top: 60px;
	height: 732px;
}
.about-div1 img{
	max-width: 100%;
	width: 810px;
	height: 732px;
	border-radius: 20px;
}
.about-section1{
	display: flex;
}
.vip2{
	background-color: #29B24E;
	border-radius: 15px;
	width: 76px;
	padding: 5px;
	color: white;
	font-size: 12px;
	font-family: "POPPINS REGULAR";
	margin-left: 40px;
}
.about-div3{
	display: flex;
	align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
}

/*.about-div3 p{
	display: inline-block;
	font-family: "POPPINS REGULAR";
	margin-left: 40px;
}*/
.about-div3 img{
	max-width: 100%;
	width: 16px;
}
.about-div2{
	max-width: 786px;
	height: 732px;
	margin-top: 60px;
	margin-left: 44px;
	background-color: #F8F8F8;
	border-radius: 24px;
}

.about-div2 h2{
	margin-top: 29px;
	color: #000000;
	font-size: 22px;
	font-family: "POPPINS REGULAR";
	margin-left: 40px;
}
.p1{
	margin-top: 12px;
	margin-left: 40px;
	font-family: "POPPINS REGULAR";
	font-size: 14px;
	color: #000000;
	opacity: 60%;
}
.p3{
	margin-top: 12px;
	margin-left: 40px;
	font-family: "POPPINS REGULAR";
	font-size: 12px;
	color: #000000;
	opacity: 60%;

}
.about-p{
	margin-top: 32px;
	opacity: 80%;
	margin-left: 40px;
	font-family: "POPPINS REGULAR";
	font-size: 14px;
	color: #000000;
}
.view-p{
	font-family: "POPPINS REGULAR";
	font-size: 12px;
	color: #000000;
	opacity: 60%;
	display: inline-block;
	margin-left: 8px;

}
.about-div4{
	display: flex;
	align-items: center;
	margin-top: 40px;
	border-top: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
}
.about-div4 h4{
	margin-left: 40px;
	color: #000000;
	font-size: 14px;
	opacity: 80%;
	margin-top: 16px;
	margin-bottom: 16px;
}

.about-div2 h5{
	font-size: 12px;
	font-family: "POPPINS REGULAR";
	opacity: 60%;
	color: #000000;
}
.about-div2 li{
	font-size: 14px;
	font-family: "POPPINS BOLD";
	opacity: 80%;
	color: #000000;
}

.all-div{
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 24px;
}

.about-div5{
	margin-left: 40px;
}

.about-p1{
	font-size: 36px;
	color: #29B24E;
	font-family: "POPPINS REGULAR";
	display: inline-block;
}
.about-p2{
	font-size: 16px;
	color: #000000;
	font-family: "POPPINS REGULAR";
	display: inline-block;
}

.about-div8{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 27px;
}
.about-button1{
	background-color: white;
	color: #29B24E;
	font-size: 14px;
	font-family: "POPPINS REGULAR";
	border: 1px solid #29B24E;
	border-radius: 12px;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 13px;
	padding-right: 13px;
	width: 153px;
	margin-right: 16px;
}

.about-button2{
	background-color: #29B24E;
	color: white;
	font-size: 14px;
	font-family: "POPPINS REGULAR";
	border: none;
	gap: 10px;
	border-radius: 12px;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 13px;
	padding-right: 13px;
	width: 80px;
	text-align: center;
}

.about-section2 h3{
	font-size: 18px;
	color: #000000;
	font-family: "POPPINS REGULAR";
	margin-bottom: 24px;
	margin-top: 72px;
}


footer{
	background-color: #29B24E;
	border-radius: 25px;
	margin-top: 120px;
}

.footer-div{
	display: flex;
	justify-content: space-around;
	padding-top: 32px;
	border-bottom: 1px solid #D0D0D0;
	margin-bottom: 32px;
}
 .footer-ul li{
 	display: inline-block;
 }
 footer a{
 	text-decoration: none;
 	color: inherit;
 	font-size: 14px;
 	color: #FFFFFF;
 	font-family: "POPPINS REGULAR";
 }
 footer li{
 	font-size: 14px;
 	color: #FFFFFF;
 	margin-right: 48px;
 	font-family: "POPPINS REGULAR";
 	margin-bottom: 32px;
 }
footer p{
	font-size: 14px;
 	color: #FFFFFF;
 	font-family: "POPPINS REGULAR";
 	padding-bottom: 40px;
 	text-align: center;
}


@media (max-width:768px){
    header nav {
        display: none;
    }
    header button{
    	display: none;
    }

    .section-1{
    	display: flex;
	    flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .picture-div{
	    max-width: 335px;
	    margin-left: 20px;
	    height: 435px;
	    position: relative;
	    margin-top: 28px;
    } 

    .picture-div img{
    	max-width: 100%;
    	width: 335px;
    	object-fit: scale-down;
    }

    .div-absolute{
	    position: absolute;
	    display: flex;
	    flex-direction: column;
        align-content: center;
        max-width: 294px;
    }
    .div-absolute h1{
    	font-size: 24px;
    }
    .div-absolute p{
    	font-size: 14px;
    }
    .div-absolute input{
    	display: none;
    }
    .form-div{

	    max-width: 100%;
	    width: 375px;
	    height: 739px;
	    border-radius: 24px;
	    margin-top: 70px;
    } 
     article{
	    max-width: 335px;
	    height: 424px;
    }
    article img{
    	max-width: 100%;
    	width: 303px;
    }
    footer{
    	max-width: 100%;
    	width: 375px;
    	height: 326px;
    	margin-left: 20px;
    }
    .mail-link{
    	display: none;
    }
    .footer-ul{
    	margin-left: 50px;
    }

    .mobile-div{
    	max-width: 375px;
    	height: 72px;
    	background-color: #FFFFFF;
    	margin-top: 84px;
    }

    .mobile-nav li{
    	display: inline-block;
    }
    .mobile-div2{
    	display: flex;
    	justify-content: space-evenly;
        align-items: center;
    }
    .mobile-div3{
    	display: flex;
    	justify-content: space-between;
    }
    .mobile-div3 li{
    	margin-left: 30px;
    	font-size: 11px;
    	color: black;
    	opacity: 80%;
    	font-family: "POPPINS REGULAR";
    }
    .mobile-div a{
    	text-decoration: none;
    	color: inherit;

    }
    .mobile-button{
	    background-color: #29B24E;
	    color: white;
	    padding: 16px;
	    font-size: 14px;
	    font-family: "POPPINS REGULAR";
	    border: none;
	    border-radius: 12px;
	    max-width: 56px;
	    height: 56px;
    }
}


@media (min-width:768px){
	.mobile-div{
		display: none;
	}
}